@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@400;700&display=swap');

*{
    margin: 0;
    box-sizing: border-box;
    padding: 0;
    font-family: 'Overpass', sans-serif;
}

button{
    border: unset;      /*  remove default styling of the button as border, shadow, transform  */
    transform: unset;
    color: white;
}


button{
    transition: opacity 300ms ease;
}

a{
    text-decoration: none;
}

a:visited{
    text-decoration: none;
    color: white;
}

li{
    list-style-type: none;
    padding: 0 2em;
}

body{
    background-color: rgb(247, 247, 247);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: white;
    width: 100vw;
    position: relative;
}

nav{
    height: 10vh;
    background: aqua;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em;
    width: 100%;
    object-fit: contain;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 1;
    padding-right: 12%;
}

#cart{
    background-color: white;
    position: absolute;
    right: 1em;
    top: 1em;
    color: darkgray;
    height: 6vh;
    padding: 1em 2em;
    border-radius: 50px;
    box-shadow: 1px 1px 5px 1px rgba(35, 35, 35, 0.276);
    font-size: 1em;
}

#close{
    background-color: white;
    position: absolute;
    right: 1em;
    top: 1em;
    color: darkgray;
    height: 6vh;
    aspect-ratio: 1;
    font-size: 1em;
    border-radius: 50px;
    box-shadow: 1px 1px 5px 1px rgba(35, 35, 35, 0.276);
    font-size: 1em;
}


.links{
    display: flex;
    align-items: center;
}

/*   MAIN   */

main{
    padding: 1em;
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 80vh;
    color: rgb(144, 144, 144);
}

.intro_wrapper{
    display: flex;
    flex-direction: column;
    gap: 1em;
    margin: 2em 0;
    line-height: 2em;
    padding-right: 1em;
}

.container{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 2em;
    align-items: center;
    justify-content: center;
}

/*   PRODUCT CARD   */

.product_card{
    border: 1px solid gray;
    border-radius: 1em;
    height: 25rem;
    width: 35rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    object-fit: contain;
    transition: 200ms all ease-in-out;
}

.product_card:hover{
    transform: scale(101%);
}

.product_info_container{
    margin: 0 1em 1em 1em;
}

.description_container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: end;
    padding: 0.5em;
}

.price_quantity_wrapper{
    display: flex;
    align-items: end;
    flex-direction: column;
}

.price{
    color: rgb(65, 65, 65);
}

.unit_price{
    color: grey;
    margin-left: 1em;
    font-size: 0.8em;
}

.quantity{
    width: 100%;
    display: flex;
    justify-content: end;
    align-items: center;
}

button:hover{
    filter: brightness(0.9);
}

.increment, .decrement{
    border-radius: 50%;
    width: 2em;
    height: 2em;
    background-color: aqua;
}

.quantity p{
    margin: 0 1em;
}

.buttons_wrapper{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1em;
}

.add{
    padding: 1em 3em;
    font-size: 1em;;
    cursor: pointer;
    border-radius: 2em;
    color:white;
    background-color: aqua;
    display: flex;
    justify-content: center;
    align-items: center;
}

.trash{
    width: 3em;
    height: 3em;
    font-size: 1em;
    border-radius: 50%;
}

.img-wrapper{
    height: 60%;
    width: 100%;
    overflow: hidden;
    border-top-left-radius: 1em;
    border-top-right-radius: 1em;
    background-color: hsl(213, 19%, 18%);
    display: flex;
    justify-content: center;
    align-items: center;
}

.product_image {
    height: 100%;
}


/*   SUMMARY COMPONENT   */

#side_container{
    position: fixed;
    background-color: aqua;
    opacity: 0.95;
    top: 0;
    right: 0;
    width: 40%;
    height: 100vh;
    z-index: 3;
    padding: 0 2em;
    box-shadow: 1px 5px 10px 5px rgba(0, 0, 0, 0.175);
    visibility: hidden;
}

.summary_header{
    height: 10vh;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#clear_cart{
    font-size: 1em;
    border-radius: 50px;
    width: 2em;
    height: 2em;
    background-color: rgb(249, 130, 130);
    margin: 1em;
    width: 100%;
}

.summary{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 90vh;
    box-sizing: border-box;
}

#summary_items{
    background-color: white;
    color: darkgray;
    border-radius: 1em;
    padding: 2em 1em;
}

.summary_item_wrapper{
    display: flex;
    width: 100%;
}

.cart_item{
    display: flex;
    flex-direction: row;
    width: 100%;
    align-content: center;
    margin-bottom: 1em;
    padding: 0;
}

.item_quantity{
    display: flex;
    gap: 1em;
    justify-content: start;
    align-items: center;
    width: 50%;
}

.item_info{
    display: flex;
    justify-content: space-between;
    width: 100%;
    flex-direction: row;
    align-content: center;
    width: 50%;
}

.summary_footer{
    margin: 2em 0;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

#total{
    font-size: 3em;
    color: white;
    text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.062);
}

#checkout{
    background-color: white;
    color: darkgray;
    height: 100%;
    padding: 1em 2em;
    border-radius: 50px;
    font-size: 1em;
    box-shadow: 1px 1px 5px 1px rgba(35, 35, 35, 0.276);
}

#overlay{
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: 0.6;
    visibility: hidden;
    z-index: 2;
}


/*   FOOTER   */

footer{
    background: aqua;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em;
    height: 8vh;
    object-fit: contain;
}

/*   PHONES   */

@media (max-width: 480px){

    .container{
        width: 90vw;
        height: 90vw;
        max-width: 30rem;
        max-height: 30rem;
        padding: 1em;
    }

    h1{
        font-size: 1.5em;
    }

    p{
        font-size: 1em;
    }
}